@media(max-width:576px){
    header{
        position: sticky !important;
        .common{
            .left{
                margin-left: 10rem;
            }
            nav{
                ul{
                    li{
                        display: none;
                    }
                    .icon{
                        display: block;
                    }
                }
            }
        }
    }
    main{
        #first{
            h2{
                font-size: 30px !important;
                padding: 0rem 4rem;
            }
          p{
            padding: 1rem 0rem !important;
          }
        }
        #six{
            overflow: hidden;

            .left{
                display: flex;
                justify-content: center;
                padding: 0rem !important;
            }
            .right{
                text-align: center;
                padding: 1rem 0rem !important;

            }

        }
        
        #nine{
        padding: 1rem 0rem !important;
        }
       
    }
}